<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}

  <main>
    {{#with topImage}}
    <div class="background-image" style="background-image: url(/assets/img/{{image}});">
      <h1 class="centerd text-light text-center">{{title}}
        <p class="text-light text-center lead">{{subText}}</p>
        <a href="/oldStartPage">Till den "gamla" Startsidan</a>
        <a href="/alternativeStartPage">Till ett "exempel" Startsidan</a>
       </h1>

    </div>
    {{/with}}
    <div class="container-fluid">
      <div class="row">
        {{#with firstPart}}
        <section class="col-12 startPageFirstPart" id="testing">
          <div class="col-12 text-center mt-4">
            <h1 class="display-4">q2d Solutions AB - Din IT partner</h1>
            <p class="lead">Vi strävar efter en långsiktig relation med våra kunder. q2d levererar lösningar och tillhandahåller support och uppföljning. Vi arbetar nära våra kunder och tar hand om alla faser i projekten. För oss är det viktigt att följa avtalade budgets och tidplaner.</p>
          </div>
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/startPageFirstPart.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 bg-info startPageFirstPartTextArea mt-3 p-3">
            <h5>Vi bygger dina IT lösningar med smart integration för framtiden</h5>
            <ul>
              <li><b>Vi skapar mätbar affärsnytta för våra kunder genom:</b></li>
              <li>ökad snabbhet och flexibilitet för verksamheten genom kort “time to market” för våra lösningar.</li>
              <li>sänkta kostnader genom effektivare verksamhet</li>
            </ul>
            <a href="/product" class="btn bg-warning mb-2 text-dark">Till produkter</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
        {{#with secondPart}}
        <section class="col-12 startPageFirstPart mt-4" id="testing">
          <!-- <div class="col-12 text-center mt-4">
            <h1 class="display-4">q2d Solutions AB - Din IT partner</h1>
            <p class="lead">Vi strävar efter en långsiktig relation med våra kunder. q2d levererar lösningar och tillhandahåller support och uppföljning. Vi arbetar nära våra kunder och tar hand om alla faser i projekten. För oss är det viktigt att följa avtalade budgets och tidplaner.</p>
          </div> -->
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/startPageFirstPart.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 bg-info startPageFirstPartTextArea mt-3 p-3">
            <h5>Licensfri Integration</h5>
            <p>q2d kan integration och vår lösning har använts i affärskritiska applikationer i mer än 5 år. Driftsäker och mycket ekonomisk. Vi integrerar mot alla typer av affärssystem och andra system. För flera affärsystem finns färdiga mallar. Exempelvis för SAP.</p>
            <a href="/products/integration" class="btn bg-warning mb-2 text-dark">Läs mer om integrationslösningar</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
        {{#with thirdPart}}
        <section class="col-12 startPageFirstPart mt-4" id="testing">
          <!-- <div class="col-12 text-center mt-4">
            <h1 class="display-4">q2d Solutions AB - Din IT partner</h1>
            <p class="lead">Vi strävar efter en långsiktig relation med våra kunder. q2d levererar lösningar och tillhandahåller support och uppföljning. Vi arbetar nära våra kunder och tar hand om alla faser i projekten. För oss är det viktigt att följa avtalade budgets och tidplaner.</p>
          </div> -->
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/startPageFirstPart.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 bg-info startPageFirstPartTextArea mt-3 p-3">
            <h5>Licensfria webbportaler och mobila appar</h5>
            <p>Med modern webbteknik och öppna standards digitaliserar vi våra kunders affärsprocesser. Inga licenskostnader. Driftsäkra, hållbara och uppgraderingsbara. När detta skrivs har lösningar varit i drift i mer än 5 år för affärskritiska tillämpningar. Tekniskt bygger ReMix på modern webbteknik. API orienterad IT-arkitektur UI/UX HTML5, Angular JS, Bootstrap.</p>
            <a href="/products/ReMix" class="btn bg-warning mb-2 text-dark">Läs mer om ReMix</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>
