<html lang="sv">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>q2d Solutions AB</title>
  <!-- Bootstrap and fontawesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Own CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
  <style type="text/css"></style>
</head>
