.card-footer{
  background-color: transparent;
}

#mainHeader{
   font-family: 'Spectral SC', serif;
  //font-family: 'Cinzel', serif;
}

#workshopCards{
  background-color: rgba(233, 233, 233, 0.42);
}

#part_three-card{
  background-color: transparent;
}

#part_three-img{
  border-radius: 3px;

}
