.card-footer{
  background-color: transparent;
}

#workshopCards{
  background-color: rgba(233, 233, 233, 0.42);
}

#part_three-card{
  background-color: transparent;
}

#part_three-img{
  border-radius: 3px;

}
