.card-footer{
  background-color: transparent;
}

#workshopCards{
  background-color: rgba(233, 233, 233, 0.42);
}

#introductionJumbotron{
  background-image: url(/assets/img/workshop/introductionJumbotron-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 320px;
}

#programingCoachJumbotron{
  background-image: url(/assets/img/workshop/programingCoachJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 2px 2px #000;
}

#workshopFullJumbotron{
  background-image: url(/assets/img/workshop/workshopFullJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 2px 2px #000;
}

#workshopHalfJumbotron{
  background-image: url(/assets/img/workshop/workshopHalfJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 2px 2px #000;
}

#part_three-img{
  border-radius: 3px;
}
