@import "index";
@import "fonts";
@import "product";
@import "products";
@import "workshop";
@import "workshops";
@import "about";

main{
  margin-top: 80px;
}

body{
}

footer{
  position: absolute;
  bottom: 1;
}

#emailLink{
  text-decoration: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.27);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }

  .navbar ul li a{
    color: #fff !important;
  }

  .navbar button .navbar-toggler{
    color: #fff !important;
  }

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: #343a40; /* NON-IE */
}
