@import "index";
@import "fonts";
@import "product";
@import "products";
@import "workshop";
@import "workshops";
@import "about";

main{
  margin-top: 100px;
}

body{
}

footer{
  position: absolute;
  bottom: 1;
}
