#productJumbotronReMix{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}

#productJumbotronIntegration{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}

#productJumbotronSenseSec{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}
