#integrationLink{
  text-decoration: none;
}

#headingOne:hover{
  background-color: rgba(149, 149, 148, 0.68) !important;
  cursor: pointer;
  text-decoration: none;

}
#headingTwo:hover{
  background-color: rgba(149, 149, 148, 0.68) !important;
  cursor: pointer;
  text-decoration: none;
}
#headingThree:hover{
  background-color: rgba(149, 149, 148, 0.68) !important;
  cursor: pointer;
  text-decoration: none;
}
#headingFour:hover{
  background-color: rgba(149, 149, 148, 0.68) !important;
  cursor: pointer;
  text-decoration: none;
}
