#workshopJumbotronIntroduction{
  background-image: url(/assets/img/workshop/introductionJumbotron-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronProgramingCoach{
  background-image: url(/assets/img/workshop/programingCoachJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronFull{
  background-image: url(/assets/img/workshop/workshopFullJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronHalf{
  background-image: url(/assets/img/workshop/workshopHalfJumbotron-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}
