#workshopJumbotronIntroduction{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronProgramingCoach{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronFull{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  text-shadow: 1px 1px #000;
}

#workshopJumbotronHalf{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 360px;
  text-shadow: 1px 1px #000;
}
