#introductionJumbotron{
  background-image: url(/assets/img/workshop/jumbotron-img2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 320px;
}
