<!DOCTYPE html>
<html>
{{>head}}

<body>
	{{>header}}
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<img class="img-fluid" src="assets/img/index/remix-test1.jpg" alt="Card image cap">
					<a href="#start"><button class="knapp btn btn-lg"><i class="far fa-arrow-alt-circle-down fa-5x"></i></a></button>
					</div>
			</div>
		</div>
		
		
		{{#with Welcometext}} {{#each Heading}}
		<p class="bg-primary">{{Label}}</p>
		{{/each}} {{/with}}



		<h1>Innehåll.......</h1>
	</div>	
 

	</main>
	<i class="fab fa-facebook-square fa-5x"></i>
	{{>footer}} {{>scripts}}<div id="start">
</body>

</html>