<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}

  <main>
    {{#with topImage}}
    <div class="background-image" style="background-image: url(/assets/img/{{image}});">
      <h1 class="centerd text-light text-center">{{title}}
        <p class="text-light text-center lead">{{subText}}</p>
        <a href="/oldStartPage">Till den "gamla" Startsidan</a>
       </h1>

    </div>
    {{/with}}
    <div class="container-fluid">
      <div class="row">
        {{#with firstPart}}
        <section class="col-12 startPageFirstPart" id="testing">
          <div class="col-12 text-center mt-4">
            <h1 class="display-4">q2d Solutions AB - Din IT partner</h1>
            <p class="lead">Vi strävar efter en långsiktig relation med våra kunder. q2d levererar lösningar och tillhandahåller support och uppföljning. Vi arbetar nära våra kunder och tar hand om alla faser i projekten. För oss är det viktigt att följa avtalade budgets och tidplaner.</p>
          </div>
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/startPageFirstPart.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 bg-info startPageFirstPartTextArea mt-3 p-3">
            <h5>Vi bygger dina IT lösningar med smart integration för framtiden</h5>
            <ul>
              <li><b>Vi skapar mätbar affärsnytta för våra kunder genom:</b></li>
              <li>ökad snabbhet och flexibilitet för verksamheten genom kort “time to market” för våra lösningar.</li>
              <li>sänkta kostnader genom effektivare verksamhet</li>
            </ul>
            <a href="/product" class="btn bg-warning mb-2 text-dark">Till produkter</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
        {{#with secondPart}}
        <section class="col-10 mx-auto startPageSecondPart mt-4">
          <div class="row">
            <h3 class="mx-auto text-center">Behöver du eller ditt team utbildning inom de senaste teknikerna för webben?</h3>
            <p class="lead mx-auto">Vi kan bistå med rådgivning och utredningar både inom IT och inom rena verksamhetsfrågor.</p>
          </div>
        </section>
        <section class="col-12 startPageSecondPart mt-3">
          <div class="row startPageImgArea">
            <div class="col-lg-5 col-12 d-none d-lg-block startPageSecondPartEmptyDiv"></div>
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/startPageSecondPart2.jpeg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 bg-info startPageSecondPartTextArea mt-3 p-3">
            <h5>Utbildningar/workshops som erbjuds</h5>
            <ul>
              <li>Vi finns här som support eller en platform för att lära ut nya tekniker och kunskaper</li>
              <li>Se våra utbildningar för mer information</li>
            </ul>
            <a href="/workshop" class="btn bg-warning mb-2 text-dark">Till utbildningar</a>
            <p><b>Nästa kurstillfälle 16/5 2018</b> : Utbildning i modern applikationsutveckling</p>
          </div>

          </div>
        </section>

        {{/with}}
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>
