<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}
  <main>
    <div class="container">
      <div class="row">
        <ul>
          <li><a href="/products/ReMix"> Till ReMix sidan</a></li>
          <li><a href="/products/integration"> Till integration sidan</a></li>
          <li><a href="/products/senseSec"> Till SenseSec sidan</a></li>
        </ul>
      </div>
    </div>

  </main>


  {{>footer}} {{>scripts}}
</body>

</html>
