<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		{{>header}}
		<main>
      <h1>SenseSec</h1>
      <a href="/products">Tillbaka till produkter</a>

		</main>
		{{>footer}}
		{{>scripts}}
	</body>

</html>
