<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		{{>header}}
		<main>
      <h1>Produkter</h1>
			<a href="/ReMix">Till ReMix</a>
			<a href="/senseSec">Till SenseSec</a>

		</main>
		{{>footer}}
		{{>scripts}}
	</body>

</html>
